.cart {
    display: inline-block;
    height: 100%;
    float: right;
    width:30%;
    overflow-y: auto;
    background-color: #c4c4c4;
}
.cartItem{
    text-align: left;
    padding : 5px;
}
.cartItem:hover{
    background-color: #ffffff;
}
.cartImg {
    width: 25px;
    height: 25px;
}

.remove {
    float:right;
    color:red;
    cursor: context-menu;
    font-size: 25px;
    text-align: center;
}
.remove:hover{
    font-size: 27px;
}
