.catalog {
    display: inline-block;
    height: 100%;
    float: left;
    width:70%;
    
}

.catalogBody{
    overflow-y: auto;
}

.item {
    max-width: 200px;
    display: inline-block;
    margin : 5px;
    float: left;
}

.item:hover {
    background-color: #111111;
    color:white;
}

.catalogImg{
    width: 100px;
    height: 100px;
}
h2{
    font-size: 1em;
}